body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img.jpg);
    background-size: cover;
    color: white;
}
.header{
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding: 20px 0;

}
.footer{
    background-color: rgba(0,0,0,0.7);
    color:white;
    text-align: center;
    padding: 20px 0;
}
.main-content{
    padding: 50px 15px;
    text-align: center;

}
.main-content h1{
    font-size: 50px;

}
nav{
    background: rgba(0,0,0,0.9);
    padding: 10px 0;
    text-align: center;

}
nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;

}
.button{
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}